@import url('https://fonts.cdnfonts.com/css/matrix');

* {
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    font-family: 'Matrix', sans-serif;
}

.header,
.frontMaker {
    color: rgb(0, 255, 0);
    text-align: center;
    margin-top: 10px;
    font-size: 32px;
    text-shadow: rgb(23, 210, 23) 10px 5px 7px;
    -webkit-text-shadow: 1px 1px 13px rgb(10, 64, 10), -1px -1px 33px rgb(37, 148, 23);
    text-shadow: 1px 1px 13px rgb(10, 64, 10), -1px -1px 33px rgb(37, 148, 23);
}

canvas {
    width: 100%;
}

.frontMaker {
    position: absolute;
    left: 39%;
    top: 40%;
}

.play {
    color: rgb(0, 166, 255);
    background-color: rgb(26, 23, 23);
    width: 40%;
    height: 40%;
    padding: 20px 20px;
    font-size: 24px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid rgb(0, 106, 255);
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 5px rgb(35, 67, 87), 0px 0px 5px rgb(23, 92, 148),
        inset 5px 5px 5px #2e71a5, inset -5px -5px 5px rgb(49, 120, 150);
    text-shadow: rgb(23, 101, 210) 10px 5px 7px;
    -webkit-text-shadow: 1px 1px 13px rgb(10, 36, 64), -1px -1px 33px rgb(23, 75, 148);
    text-shadow: 1px 1px 13px rgb(10, 44, 64), -1px -1px 33px rgb(23, 90, 148);
}

.play:hover {
    color: #d6d6d6;
    -webkit-transition: 500ms;
    transition: 500ms;
    scale: 1.05;
}

.info {
    background-color: rgb(26, 23, 23);
    width: 40%;
    height: 40%;
    padding: 20px 20px;
    font-size: 24px;
    margin-top: 20px;
    border-radius: 10px;
    border: solid #af1a1a 1px;
    color: rgb(255, 0, 0);
    -webkit-transition: 500ms;
    transition: 500ms;
    border-radius: 5px;
    background: linear-gradient(90deg, #212121, #383636);
    -webkit-box-shadow: 0px 0px 5px rgb(87, 35, 35), 0px 0px 5px rgb(148, 23, 23),
        inset 5px 5px 5px #a52e2e, inset -5px -5px 5px rgb(150, 49, 49);
    text-shadow: rgb(210, 23, 23) 10px 5px 7px;
    -webkit-text-shadow: 1px 1px 13px rgb(64, 10, 10), -1px -1px 33px rgb(148, 23, 23);
    text-shadow: 1px 1px 13px rgb(64, 10, 10), -1px -1px 33px rgb(148, 23, 23);
}

.info:hover {
    color: #d6d6d6;
    -webkit-transition: 500ms;
    transition: 500ms;
    scale: 1.05;
}